.root {
  padding: 5px;
}

.item {
  cursor: pointer;
  height: 80px;
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected {
  background-color: #ffd95b;
}